h1 {
  color: blue;
}

body {
  background-color: #D8D8D8;
}

.special {
  color: yellow;
  font-weight: bold;
}

a:link {
  color: purple;
}

a:visited {
    color: red;
}

a:hover {
    text-decoration: none;
}